body{
    
    font-family: Arial, sans-serif;
    background-image: url(../asu.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    align-items: center;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 20px;
}

.imgber{
    justify-content: right;
    align-items: center;
}
.container{ 
    justify-content: center;
    display: flex;
    background-color: rgb(11, 174, 244);
    /* margin-bottom: 20px; */
    width: auto;
    height: auto;
    /* margin-left: 30px;
    margin-right: 30px; */
    border-radius: 15px;
}
.icon{
    width: 100px;
    height: auto;
    border-radius: 25px;
    align-items: center;
}


.text-box {
    background-color: rgb(250, 248, 244);
    margin-left: auto;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    /* margin-left: 30px;
    margin-right: 30px; */
    
}